@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

.all_photos {
  padding: 20px;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
/* .single {
  width: auto !important;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.3s ease;
} */

.model {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  visibility: hidden;
  transform: scale(0);
  opacity: 0;
  overflow: hidden;
}
.model img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  margin: 0 auto;
}
.model.open {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}
.close {
  position: absolute;
  color: white;
  top: 1rem;
  width: 50px !important;
  height: 50px !important;
  cursor: pointer;
  right: 2rem;
}
@media (max-width: 700px) {
  .close {
    width: 35px !important;
    height: 35px !important;
  }
}
.nav {
  font-size: 2rem;
  font-family: "Marck Script", cursive;
  position: sticky;
  top: 0;
  padding: 15px 0;
  text-align: center;
  background-color: #333;
  color: rgb(216, 210, 210);
}
.btns {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn2 {
  margin: 10px;
  width: 100px;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 0;
  border: 0.5px solid #333;
  transition: 0.3s ease;
  background-color: #333;
  color: white;
  font-weight: bold;
}
.btn2:hover {
  border: 0.5px solid black;
  background-color: #f3f3f3;
}
.btn2:hover {
  color: #333;
}

@media (max-width: 800px) {
  .nav {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .nav {
    font-size: 18px;
  }
  .all_photos {
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-gap: 1rem;
  }
  .btn2 {
    width: 80px;
    padding: 10px;
  }
}
.img {
  width: 100%;
  /* height: auto; */
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 10px 7px rgba(0, 0, 0, 0.5);
}
.img:hover {
  transform: scale(1.04);
  opacity: 0.7;
}
